<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
      .cimg:hover img {
        display: block;
        height: 200px;
        width: 100px;
      }

      .p1 {
        background-color: aqua;
      }

      .p1:hover {
        background-color: cornsilk;
        color: crimson;
      }
    </style>

    <title>{% block title %}{% endblock title%}</title>
  </head>
  <body>
    <!--nav bar-->
    <nav style="background-color:lightgray;" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        {% load static %}
        <img src="{% static 'store/eshop.jpg' %}" alt="Eshop">
      </a>

      <div
        class="collapse navbar-collapse text-light"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:about' %}"
              >About <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <form class="form-inline" action="/search-product/" method="post">
              {% csrf_token %}
              <input
                name="product_name"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Enter product name here"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Search
              </button>
            </form>
          </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          {% if request.session.customer_email %}
          
          <li class="nav-item rounded-circle bg-success">
            
            <a class="nav-link" href="/order/"
              >
              {% if user %}
              <img class="rounded-circle"
                   src="{{user.image.url}}"
                   style="width:35px; height:30px;">
              {% endif %}
              {{request.session.customer_name}} <span class="sr-only">(current)</span></a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'store:cart' %}"
              >Cart
              <span class="badge badge-info"
                >{{ request.session.cart.keys|length}}</span
              ><span class="sr-only">(current)</span></a
            >
          </li>
          {% if request.session.customer_email %}
          <li class="nav-item">
            <a class="nav-link" href="/order/"
              >Order <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/"
              >Logout <span class="sr-only">(current)</span></a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup/">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock content%}

    <!--footer-->
    <div class="container-fluid text-center bg-dark p-4">
      <div class="row">
          <h4 style="text-align:center; margin:auto; color:white;">This is footer</h4>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div style="color:white;">Link List1</div>
          <div><a href="#">Link1</a></div>
          <div><a href="#">Link2</a></div>
          <div><a href="#">Link3</a></div>
          <div><a href="#">Link4</a></div>
          <div><a href="#">Link5</a></div>
        </div>

        <div class="col-lg-4">
          <div style="color:white;">Link List1</div>
          <div><a href="#">Link1</a></div>
          <div><a href="#">Link2</a></div>
          <div><a href="#">Link3</a></div>
          <div><a href="#">Link4</a></div>
          <div><a href="#">Link5</a></div>
        </div>

        <div class="col-lg-4">
          <div style="color:white;">Link List1</div>
          <div><a href="#">Link1</a></div>
          <div><a href="#">Link2</a></div>
          <div><a href="#">Link3</a></div>
          <div><a href="#">Link4</a></div>
          <div><a href="#">Link5</a></div>
        </div>
      </div>

      <div class="row">
          <h6 style="text-align:center; margin:auto;" class="text-white text-center">Copyright</h6>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
